<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BaseURL</key>
	<string>http://www.ihuiyx.com</string>
	<key>BannerURLPath</key>
	<string>/video/banner.htm</string>
	<key>HomeProgramURLPath</key>
	<string>/video/homePage.htm</string>
	<key>ChannelURLPath</key>
	<string>/video/channelRanking.htm</string>
	<key>ChannelProgramURLPath</key>
	<string>/video/program.htm</string>
	<key>ChannelNo</key>
	<string>QB_VIDEO_IOS_B_00000001</string>
	<key>MoreURLPath</key>
	<string>/video/agreement.html</string>
	<key>RegisterURLPath</key>
	<string>/video/jihuo.htm</string>
	<key>SystemConfigURLPath</key>
	<string>/video/systemConfig.htm</string>
	<key>UserAccessURLPath</key>
	<string>/video/userAccess.htm</string>
	<key>PayNowScheme</key>
	<string>comyeyekuaiboapppaynowurlscheme</string>
	<key>WeChatPayAppId</key>
	<string>wx4af04eb5b3dbfb56</string>
	<key>WeChatPayMchId</key>
	<string>1281148901</string>
	<key>WeChatPayPrivateKey</key>
	<string>hangzhouquba20151112qwertyuiopas</string>
	<key>WeChatPayNotifyURL</key>
	<string>http://phas.ihuiyx.com/pd-has/notifyWx.json</string>
	<key>SystemConfigPayAmount</key>
	<string>PAY_AMOUNT</string>
	<key>SystemConfigChannelTopImage</key>
	<string>CHANNEL_TOP_IMG</string>
	<key>SystemConfigStartupInstall</key>
	<string>START_INSTALL</string>
	<key>SystemConfigSpreadTopImage</key>
	<string>SPREAD_TOP_IMG</string>
	<key>SystemConfigSpreadURL</key>
	<string>SPREAD_URL</string>
	<key>BaiduAdAppId</key>
	<string>a39921a8</string>
	<key>BaiduBannerAdId</key>
	<string>2340965</string>
	<key>UmengAppId</key>
	<string>565bc5bee0f55a13a60011b1</string>
	<key>PackageSigningCertificate</key>
	<string>iPhone Distribution: Chengdu Juchen Network Technology Co., Ltd.</string>
</dict>
</plist>
