<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BaseURL</key>
	<string>http://7xomw1.com2.z0.glb.qiniucdn.com</string>
	<key>BannerURLPath</key>
	<string>/video/banner.json</string>
	<key>HomeProgramURLPath</key>
	<string>/video/homePage.json</string>
	<key>ChannelURLPath</key>
	<string>/video/channelRanking.json</string>
	<key>ChannelProgramURLPath</key>
	<string>/video/program_80_1.json</string>
	<key>MoreURLPath</key>
	<string>/video/agreement1.html</string>
	<key>SystemConfigURLPath</key>
	<string>/video/systemConfig.json</string>
</dict>
</plist>
